[submodule "aou-config"]
	path = aou-config
	url = https://github.com/mkheck/aou-config
[submodule "config-service"]
	path = config-service
	url = https://github.com/mkheck/aou-config-service
[submodule "coffee-service"]
	path = coffee-service
	url = https://github.com/mkheck/aou-coffee-service
[submodule "edge-service"]
	path = edge-service
	url = https://github.com/mkheck/aou-edge-service
